<a href="https://colab.research.google.com/github/juliomestas/Ciencia_y_analitica_de_datos/blob/main/Actividad3BDManipulacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MAESTRÍA EN INTELIGENCIA ARTIFICIAL APLICADA**

**Curso: TC4029 - Ciencia y analítica de datos**

Tecnológico de Monterrey

Prof Grettel Barceló Alonso

**Semana 3**
Bases, almacenes y manipulación de datos

---

*   NOMBRE: JULIO CESAR MESTAS DELGADO
*   MATRÍCULA: A01794827

---

En esta actividad usarás la base de datos relacional `classicmodels` (MySQL), compuesta por las siguientes tablas:

*   `Customers`: almacena los datos de los clientes.
*   `Products`: almacena una lista de modelos de coches a escala.
*   `ProductLines`: almacena una lista de categorías de líneas de productos.
*   `Orders`: almacena los pedidos de venta realizados por los clientes.
*   `OrderDetails`: almacena elementos de línea de pedidos de ventas para cada pedido de ventas.
*   `Payments`: almacena los pagos realizados por los clientes en función de sus cuentas.
*   `Employees`: almacena toda la información de los empleados, así como la estructura de la organización, como quién informa a quién.
*   `Offices`: almacena los datos de la oficina de ventas.

Revisa con detalle su esquema para que comprendas cómo se relacionan las tablas anteriores.

Recuerda que:


*   Una **clave primaria** es un atributo (o conjunto) que identifica unívocamente a cada registro en la tabla.
*   Una **clave foránea** (externa o ajena) es un atributos (o conjunto) en una tabla que es una clave primaria en otra (o posiblemente la misma) tabla.
*   Las **relaciones** son las líneas que conectan una tabla con otra y el extremo determina la cardinalidad. Las relaciones con línea continua (identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser foránea y primaria (al mismo tiempo) de otra. Las relaciones con línea discontinua (no identificadora) representan una transformación donde la clave primaria de una tabla pasa a ser sólo foránea en otra.

# **Parte 1**. SQLAlchemy y SQL básico

In [ ]:
pip install pymysql

In [ ]:
from sqlalchemy import create_engine, text
import pymysql
import pandas as pd

1.	Crea el motor `sqlalchemy`, con el método `create_engine()` y una conexión con `connect()` como se muestra a continuación:

In [ ]:
# Crear el motor (dialecto://usuarioBD:clave@ipHostDBMS:puerto/esquema
db = create_engine('mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.106.157.52:3306/classicmodels', pool_recycle=3600)

# Crear una conexión
conn = db.connect()

Escribe las consultas en SQL para obtener:

2.	La información de las líneas de productos.

In [ ]:

try:
    # Ejecutar la consulta SQL
    consulta_productos = text("select *from productlines")
    resultados = pd.read_sql_query(consulta_productos, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

3.	Los empleados ordenados por nombre.

In [ ]:
try:
    # Ejecutar la consulta SQL
    consulta_empleados = text("select *from employees order by firstname")
    resultados = pd.read_sql_query(consulta_empleados, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

4.	Los países donde hay oficinas.

In [ ]:
try:
    # Ejecutar la consulta SQL
    consulta_productos = text("select country from offices group by country")
    resultados = pd.read_sql_query(consulta_productos, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

5.	El nombre y teléfono de los clientes de Nueva York (*NYC*).

In [ ]:
try:
    # Ejecutar la consulta SQL
    consulta_productos = text("select customerName,phone from customers where city = 'NYC'")
    resultados = pd.read_sql_query(consulta_productos, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

Listado:
           customerName       phone
0     Land of Toys Inc.  2125557818
1    Muscle Machine Inc  2125557413
2       Vitachrome Inc.  2125551500
3  Classic Legends Inc.  2125558493
4       Microscale Inc.  2125551957

6.	El código y nombre de los productos del vendedor *Gearbox Collectibles* que tengan menos de 1000 unidades en stock.

In [ ]:
try:
    # Ejecutar la consulta SQL
    consulta_productos = text("select productCode,productName from products where productvendor = 'Gearbox Collectibles' and quantityInStock < 1000")
    resultados = pd.read_sql_query(consulta_productos, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

Listado:
  productCode             productName
0    S18_2581          P-51-D Mustang
1    S18_2795  1928 Mercedes-Benz SSK

7.	Los tres productos más caros, desde el punto de visto de los comercializadores (`buyPrice`).

In [ ]:
try:
    # Ejecutar la consulta SQL
    consulta_productos = text("select productCode,productName,buyPrice from products order by buyPrice desc LIMIT 3")
    resultados = pd.read_sql_query(consulta_productos, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

Listado:
  productCode                     productName  buyPrice
0    S10_4962          1962 LanciaA Delta 16V    103.42
1    S18_2238  1998 Chrysler Plymouth Prowler    101.51
2    S10_1949        1952 Alpine Renault 1300     98.58

8.	La cantidad de productos por línea de producto (no las existencias en inventario)

In [ ]:
try:
    # Ejecutar la consulta SQL
    consulta_productos = text("select productLine,count(*) as numProductos "+
    "from products "+
    "group by productLine "+
    "order by productLine ")
    resultados = pd.read_sql_query(consulta_productos, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

Listado:
        productLine  numProductos
0      Classic Cars            38
1       Motorcycles            13
2            Planes            12
3             Ships             9
4            Trains             3
5  Trucks and Buses            11
6      Vintage Cars            24

9.	La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).

In [ ]:
try:
    # Ejecutar la consulta SQL
    consulta_productos = text("select offices.country,count(*) as numero_empleados "+
    "from employees inner join "+
    "offices on employees.officeCode = offices.officeCode "+
    "group by offices.country ")
    resultados = pd.read_sql_query(consulta_productos, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

10.	El promedio de los pagos de cada uno de los clientes de España.

In [ ]:
try:
    # Ejecutar la consulta SQL
    consulta_productos = text("select customerName,avg(amount) as promedio_pagos from customers inner join "+
                              "payments on payments.customerNumber = customers.customerNumber "+
                              "where country = 'Spain'"+
                              "group by customerName")
    resultados = pd.read_sql_query(consulta_productos, conn)

    print("Listado:")
    print(resultados)
except Exception as e:
    print("Error al ejecutar la consulta:", str(e))

# **Parte 2**. Manipulación de datos con Pandas

11.	Carga las tablas empleadas en dataframes con el mismo nombre y resuelve las consultas anteriores con las funciones de Pandas. Cuida no sobreescribir los dataframes originales al resolver las consultas. Debes obtener los mismos resultados que con SQL.

In [ ]:
#La información de las líneas de productos.
consulta_lineas = text("select *from productlines")
df_lineas  = pd.read_sql_query(consulta_lineas, conn)
print(df_lineas)

In [ ]:
#Los empleados ordenados por nombre.
consulta_empleados = text("select *from employees")
df_empleados = pd.read_sql_query(consulta_empleados, conn)
df_ordenado_ascendente = df_empleados.sort_values(by='firstName',inplace=False)
print(df_ordenado_ascendente)

In [ ]:
#Los países donde hay oficinas.
consulta_oficinas = text("select * from offices")
df_oficinas = pd.read_sql_query(consulta_oficinas, conn)
df_agrupado_por_pais = df_oficinas.groupby('country')

for pais, grupo in df_agrupado_por_pais:
    print(f"País: {pais}")

In [ ]:
#El nombre y teléfono de los clientes de Nueva York (NYC).
consulta_customers = text("select * from customers")
df_customers = pd.read_sql_query(consulta_customers, conn)

df_customers_filtrado = df_customers[df_customers['city'] == 'NYC']
df_customers_filtrado = df_customers_filtrado[['customerName', 'phone']]
print(df_customers_filtrado )

In [ ]:
 #El código y nombre de los productos del vendedor Gearbox Collectibles que tengan menos de 1000 unidades en stock.
consulta_productos = text("select * from products")
df_productos = pd.read_sql_query(consulta_productos, conn)
df_productos_Gearbox_menos_1000 = df_productos[(df_productos['productVendor'] == 'Gearbox Collectibles' ) & (df_productos['quantityInStock'] < 1000 )]
df_productos_Gearbox_menos_1000 = df_productos_Gearbox_menos_1000[['productCode', 'productName']]
print(df_productos_Gearbox_menos_1000)

In [ ]:
#Los tres productos más caros, desde el punto de visto de los comercializadores (buyPrice).

df_productos_mayor_precio = df_productos.sort_values(by='buyPrice', ascending=False).head(3)
df_productos_mayor_precio = df_productos_mayor_precio[['productCode', 'productName','buyPrice']]
print(df_productos_mayor_precio)

In [ ]:
#La cantidad de productos por línea de producto (no las existencias en inventario)
df_productos_agrupado_lineas = df_productos.groupby('productLine').size().reset_index(name='numProductos')
print(df_productos_agrupado_lineas)

In [ ]:
#La cantidad de empleados por país (tomando en cuenta la ubicación de la oficina).
df_empleados_oficinas = pd.merge(df_empleados, df_oficinas, on='officeCode', how='inner')
df_empleados_oficinas_agrupado = df_empleados_oficinas.groupby('country').size().reset_index(name='numEmpleados')
print(df_empleados_oficinas_agrupado)

In [ ]:
#El promedio de los pagos de cada uno de los clientes de España.
consulta_payments = text("select * from payments")
df_payments = pd.read_sql_query(consulta_payments, conn)
df_customers_payments = pd.merge(df_customers, df_payments, on='customerNumber', how='inner')
df_customers_payments = df_customers_payments[df_customers_payments['country'] == 'Spain']

df_customers_payments = df_customers_payments.groupby('customerName')['amount'].mean().reset_index(name='avg_cantidad')
print(df_customers_payments)

# **Parte 3**. Cliente de Python Firestore

En esta fase te conectarás a una base de datos no relacional de Firestore desde Python. Para ello utilizarás los módulos `credentials` y `firestore` de la biblioteca `firebase_admin`.

In [ ]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

El archivo `veterinary.json` almacena la clave privada para autenticar una cuenta y autorizar el acceso a los servicios de Firebase. A través de la función `Certificate()`, se regresa una credencial inicializada, que puedes utilizar para crear una nueva instancia de la aplicación. Después de eso, tu conexión a Firestore utilizará las reglas de seguridad establecidas para la base de datos y el usuario autenticado.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
DIR = "/content/drive/MyDrive/Documentos/Tec de Monterrey/MNA/Ciencia y analitica de datos/Semana 3"
os.chdir(DIR)

In [ ]:
cred = credentials.Certificate('veterinary.json')
firebase_admin.initialize_app(cred)
db = firestore.client()

12.	Investiga cómo leer la colección `PET_OWNER` y mostrar su contenido en un dataframe. Asegúrate de incluir el id en el resultado

In [ ]:
pet_owner_collection = db.collection('PET_OWNER')
# Obtiene todos los documentos de la colección
docs = pet_owner_collection.stream()


# Lista para almacenar los datos
data = []

# Itera sobre los documentos y agrega los datos a la lista
for doc in docs:
    doc_data['id'] = doc.id
    doc_data = doc.to_dict()
    data.append(doc_data)


# Crea un DataFrame a partir de la lista de datos
df = pd.DataFrame(data)

df = df[['id', 'ownerFirstName','email','ownerLastName','phone']]

# Muestra el DataFrame
print(df)

                      id ownerFirstName                        email  \
0   98357ufgjmWUxjnAuzbz            Sam                         None
1   AFtZincSZxjC4Mcxf9Pf          Miles    miles.trent@somewhere.com
2   GYDixDwHjMyihjL8TmsM            Liz      liz.frier@somewhere.com
3   H27P4ZZHV5xo4EkG71Hv          Jenny                         None
4   HPP23hmzFDVHXMkx32Ig            NaN                          NaN
5   IpxTuB6FILhwQFcspLws            NaN                          NaN
6   QoXBfS1JdRp6BqgLzaAz         Marsha  'marcha.downs@somewhere.com
7   eUtZ44lPRbSHXX04EDp7            Ken                         None
8   n2GG9rlfGOmE0P4TcU0T          Nigel   nigel.melnik@somewhere.com
9   n8SMdmrxeK7KUWZsqBKX        Richard  richard.james@somewhere.com
10  pDlJlul8EJXO8FBJvFkN            NaN                          NaN
11  tAlJ74xQ7tT4TUHwZgmH            Jim     jim.rogers@somewhere.com
12                   NaN           Mary    mary.keenan@somewhere.com

   ownerLastName         phone
0         Taylor  555-454-3465
1          Trent          None
2          Frier  555-537-6543
3       Mayberry  555-454-1243
4            NaN           NaN
5            NaN           NaN
6          Downs  555-537-8765
7        Roberts  555-454-2354
8         Melnik  555-232-5678
9          James  555-537-7654
10           NaN           NaN
11        Rogers  555-232-3456
12        Keenan  555-232-4567

In [ ]:
firebase_admin.delete_app(firebase_admin.get_app())